[submodule ".registry"]
	path = .registry
	url = https://github.com/r-universe-org/cran-to-git
	shallow = true
	branch = HEAD
[submodule "rhymer"]
	path = rhymer
	url = https://github.com/landesbergn/rhymer
	shallow = true
	registered = true
